.cadastro-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
}

.cadastro-cabecalho__logo {
    width: 10rem;
    margin-bottom: 0.5rem;
}

.cadastro-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-bottom: 1rem;
    color: var(--cor-contraste-claro);
}

.cadastro-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cadastro-cartao__icone-concluido {
    display: block;
    width: 3.5rem;
    height: 3.5rem;

    margin-bottom: 1rem;

    background-image: url(../img/checkmark.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cadastro-cartao__titulo {
    max-width: 20rem;
}


@media(min-width: 800px) {
    .cadastro-cabecalho__logo {
        
        margin-bottom: 1rem;
    }

    .cadastro-cabecalho__titulo {
        margin-bottom: 2rem;
    }
}
