
.cabecalho {
    background-color: #1b1b1b;
    color: var(--cor-contraste-claro);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4.75rem;
    width: 100vw;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 3rem;
}

.cabecalho__lista-navegacao {
    display: flex;
}

.cabecalho__link {
    margin-left: 2rem;
}

