.cartao {
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.cartao__titulo {
    font-size: var(--fonte-tamanho-cartao-titulo);
    margin-bottom: 1rem;
    color: var(--cor-contraste-claro);
}
